mixin hobbi()
  aside.hobbi
    .hobbi__content 
      +status('Работы')
      .hobbi__hobbis 
        ul.hobbi__list
          li.hobbi__item 
            a(href="https://evgevy.github.io/Resume/" target="_blank").hobbi__link Визитка 
            |&ensp;(
            a(href="https://github.com/Evgevy/Exame" target="_blank").hobbi__link GitHub
            |) 
          li.hobbi__item 
            a(href="https://evgevy.github.io/nails/" target="_blank").hobbi__link Мастер маникюра  
            |&ensp;(
            a(href="https://github.com/Evgevy/nails-test" target="_blank").hobbi__link GitHub
            |) 
          li.hobbi__item 
            a(href="https://evgevy.github.io/site-coffee/" target="_blank").hobbi__link Сайт кофе
            |&ensp;(
            a(href="https://github.com/Evgevy/Test-cooffee" target="_blank").hobbi__link GitHub
            |) 
          li.hobbi__item 
            a(href="https://evgevy.github.io/supertrofeo/" target="_blank").hobbi__link Спорткар
            |&ensp;(
            a(href="https://github.com/Evgevy/lambo-test" target="_blank").hobbi__link GitHub
            |)
          li.hobbi__item 
            a(href="https://evgevy.github.io/nft/" target="_blank").hobbi__link NFT
            |&ensp;(
            a(href="https://github.com/Evgevy/nft-test" target="_blank").hobbi__link GitHub
            |)
          li.hobbi__item 
            a(href="https://evgevy.github.io/slider/" target="_blank").hobbi__link Карточки товаров
            |&ensp;(
            a(href="https://github.com/Evgevy/test-slider" target="_blank").hobbi__link GitHub
            |)
          li.hobbi__item 
            a(href="https://evgevy.github.io/oculus-vr/" target="_blank").hobbi__link Oculus VR
            |&ensp;(
            a(href="https://github.com/Evgevy/oculus" target="_blank").hobbi__link GitHub
            |)
          li.hobbi__item 
            a(href="https://evgevy.github.io/metro-stations/" target="_blank").hobbi__link Районы и станции
            |&ensp;(
            a(href="https://github.com/Evgevy/metro-test" target="_blank").hobbi__link GitHub
            |)
          li.hobbi__item 
            a(href="https://evgevy.github.io/test-catalog/" target="_blank").hobbi__link Каталог товаров
            |&ensp;(
            a(href="https://github.com/Evgevy/catalog" target="_blank").hobbi__link GitHub
            |)
          li.hobbi__item 
            a(href="https://evgevy.github.io/forest/" target="_blank").hobbi__link Forest
            |&ensp;(
            a(href="https://github.com/Evgevy/test-forest" target="_blank").hobbi__link GitHub
            |)
          li.hobbi__item 
            a(href="https://evgevy.github.io/global/" target="_blank").hobbi__link Global
            |&ensp;(
            a(href="https://github.com/Evgevy/test-global" target="_blank").hobbi__link GitHub
            |)
          li.hobbi__item 
            a(href="https://evgevy.github.io/credit/" target="_blank").hobbi__link Credit
            |&ensp;(
            a(href="https://github.com/Evgevy/credit-test" target="_blank").hobbi__link GitHub
            |)