mixin hobbi()
  aside.hobbi
    .hobbi__content 
      +status('Работы')
      .hobbi__hobbis 
        ul.hobbi__list
          li.hobbi__item 
            a(href="https://evgevy.github.io/Resume/" target="_blank").hobbi__link Визитка 
            |&ensp;(
            a(href="https://github.com/Evgevy/Exame" target="_blank").hobbi__link GitHub
            |) 
          li.hobbi__item 
            a(href="https://evgevy.github.io/site-coffee/" target="_blank").hobbi__link Сайт кофе
            |&ensp;(
            a(href="https://github.com/Evgevy/Test-cooffee" target="_blank").hobbi__link GitHub
            |) 
          li.hobbi__item 
            a(href="https://evgevy.github.io/supertrofeo/" target="_blank").hobbi__link Спорткар
            |&ensp;(
            a(href="https://github.com/Evgevy/lambo-test" target="_blank").hobbi__link GitHub
            |)
          li.hobbi__item 
            a(href="http://project6661240.tilda.ws/" target="_blank").hobbi__link Электросамокаты