.hobbi {
    &__content {
        max-width: 286px;
        width: 100%;
    }

    &__hobbis {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: default;
    }

    &__hobbi {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .2s;
    }

    &__text {
        font-family: 'Roboto';
        font-size: px-to-em(10);
        line-height: 120%;
        text-transform: capitalize;
        color: #847D7D;
        margin-top: 7px;
        text-align: center;
    }

    &__hobbi:hover,
    &__text:hover {
        transform: scale(1.5);
        color: plum;
        svg {
            path {
                fill: plum;
            }
        }
    }

    @media screen and (max-width: 605px) {
        &__hobbis {
            display: none;
            &--open {
                display: flex;
                padding: 10px 16px 10px 0;
                
            }
        }

        &__content {
            max-width: 450px;
        }
    }
  
}
