.hobbi {
    &__content {
        width: 307px;
        margin: 0;
    }

    &__prev {
        display: flex;
        align-items: center;
    }

    &__title {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #DE0F16;
        border-radius: 50px;
        padding: 8px 35px;
        max-width: 150px;
    }

    &__line {
        width: 148px;
        background: #DE0F16;
        height: 2px;
    }

    &__hobbis {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: default;
    }

    &__hobbi {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .2s;
    }

    &__text {
        font-family: 'Roboto';
        font-size: px-to-em(10);
        line-height: 120%;
        text-transform: capitalize;
        color: #847D7D;
        margin-top: 7px;
        text-align: center;
    }

    &__hobbi:hover,
    &__text:hover {
        transform: scale(1.5);
        color: plum;
        svg {
            path {
                fill: plum;
            }
        }
    }
  
}
