@import 'mixins';



/* Plugins */



/* Blocks */

body, ul, ol {
  margin: 0;
  padding: 0;

}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
  font-weight: normal;
  margin: 0;
  padding: 0;
}




@import './src/blocks/wrapper/wrapper';
@import './src/blocks/main/main';
@import './src/blocks/lang/lang';
@import './src/blocks/contacts/contacts';
@import './src/blocks/aside/aside';
@import './src/blocks/skills/skills';
@import './src/blocks/hobbi/hobbi';
@import './src/blocks/status/status';