.basic {
   
    &__content {
        max-width: 250px;
        width: 100%;
        padding: 19px 0 13px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
    }

    &__name {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: px-to-em(35);
        line-height: 125%;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
        margin-bottom: 5px;
    }

    &__prof {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: px-to-em(17);
        line-height: 160%;
        text-align: center;
        color: #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        
    }

    &__about {
        @include flex-dir;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        margin: 75px 0 23px;
        padding: 75px 14px 12px;
        background: rgba(255, 255, 255, 0.2);
        
    }

    &__image {
        width: 130px;
        max-width: 100%;
        height: 130px;
        border: 1.5px solid #FFFFFF;
        border-radius: 50%;
        margin: -137px 0 17px;
        object-fit: cover;
    }

    &__title {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: px-to-em(15);
        line-height: 110%;
        text-transform: uppercase;
        color: #FFFFFF;
        align-self: start;
    }

    &__text {
        font-family: 'Roboto';
        font-size: px-to-em(14);
        line-height: 113%;
        color: #FFFFFF;
        margin-top: 5px;
        align-self: start;
    }

    &__text:before {
        display: inline-block;
        content: '';
        background-color: #FFFFFF;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        margin-right: 5px;
    }

    &__burger {
        display: none;
    }

    @media screen and (max-width: 605px) {
        
        &__content {
            max-width: 450px;
            
        }

        &__burger {
            width: 40px;
            height: 40px;
            @include flex-dir;
        }

        &__line {
            transition: all 0.3s;
            height: 4px;
            background-color: #000000;
            display: block;
            width: 30px;
            margin: 3px;
        }

        &__line {
            &--first {
            transform: translate(6px, -1px) rotate(45deg);
            transform-origin: left top;
            height: 3px;
            }
        }

        &__line {
            &--middle {
                scale: (0);
            }
        }

        &__line {
            &--last {
                transform: translate(-3px, -20px) rotate(-45deg);
                transform-origin: right bottom;
                height: 3px;
            }
        }

        &__name {
            margin-top: -45px;
            width: 300px;
            
        }

        
    }
}
