mixin main()
  main.basic
    .basic__content
      .basic__burger 
        .basic__line 
        .basic__line 
        .basic__line
      h1.basic__name ЕВГЕНИЙ ДЕДУШЕВ
      p.basic__prof HTML-Верстальщик
      .basic__about
        img(src="img/photo.jpg" alt="Фотопортрет").basic__image
        h2.basic__title Обо мне:
        p.basic__text Адаптивная верстка
        p.basic__text Кроссбраузерная верстка
        p.basic__text Использование jQuery
        p.basic__text Применение шаблонизатора Pug
        p.basic__text Верстка по методологии БЭМ
        p.basic__text Применение препроцессора SCSS
        p.basic__text Взаимодействие с Figma 
        p.basic__text Применение Git
      +contacts
      +lang