mixin contacts()
  .contacts
    .contacts__contacts 
        .contacts__contact 
          a(href="tel:+79992386474" target="_blank").contacts__cont
            include img/fone.svg       
            p.contacts__text +7 999 238 64 74
        .contacts__contact 
          a(href="mailto:djek.uait1998@gmail.com" target="_blank").contacts__cont
            include img/email.svg 
            p.contacts__text djek.uait1998@gmail.com
        .contacts__contact 
          a(href="https://evgevy.github.io/Resume/" target="_blank").contacts__cont 
            include img/website.svg
            p.contacts__text https://evgevy.github.io/Resume/
        .contacts__contact 
          a(href="#!" target="_blank").contacts__cont
            include img/home.svg
            p.contacts__text Санкт-Петербург