.contacts {
    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    &__cont {
        display: flex;
        text-decoration: none;
        align-items: center;
        padding: 10px;
        gap: 15px;
        font-family: 'Roboto';
        font-size: px-to-em(15);
        line-height: 114%;
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50px;
        transition: .2s;
        svg {
            width: 19px;
            height: 19px;
            path {
                fill: #F8F8F8;
            }
        }
    }

    &__cont:hover {
        transform: scale(1.1);
        color: aqua;
        svg {
            path {
                fill: aqua;
            }
        }
    }

    @media screen and (max-width: 626px) {
        &__contacts {
            align-items: center;
        }

        &__cont {
            width: 290px;
            gap: 20px;
        }

       
    }
  
}
