mixin lang(cl)
  div(class=`${cl ? cl + '__lang' : ''}`).lang
    .lang__lang 
      h2.lang__title Languages
      .lang__items 
        .lang__languages english
        .lang__rating
        .lang__rating
        .lang__rating
        .lang__rating
        .lang__rating
      .lang__items 
        .lang__languages russian
        .lang__rating
        .lang__rating
        .lang__rating
        .lang__rating
        .lang__rating 
      .lang__items 
        .lang__languages french
        .lang__rating
        .lang__rating
        .lang__rating
        .lang__rating
        .lang__rating.lang__rating--clear 
      .lang__items 
        .lang__languages italian
        .lang__rating 
        .lang__rating
        .lang__rating
        .lang__rating.lang__rating--clear 
        .lang__rating.lang__rating--clear
      .lang__items 
        .lang__languages german
        .lang__rating 
        .lang__rating
        .lang__rating.lang__rating--clear
        .lang__rating.lang__rating--clear
        .lang__rating.lang__rating--clear