mixin aside()
  aside.aside
    .aside__content
      .aside__education
        +status('Образование')
        .aside__examp
          h3.aside__title Юрист (2001-2006) 
          p.aside__text МФЮА 
          p.aside__info Очное обучение по специальности юриспруденция. Специализация: государственно-правовая.
          h3.aside__title Ученик (2021-по настоящее время)
          p.aside__text "Гильдия Фронтов"
          p.aside__info Изучение основ HTML 5, CSS 3, Java Script. Изучение методологии БЭМ, опыт работы с Pixel Perfect, Figma, системой контроля версий Git и использования репозитория на GitHub. Опыт работы с шаблонизатором Pug, препроцессором SCSS под руководством middle-frontend разработчика, выполнение тренировочного проекта в рамках пройденого материала. 
      .aside__experiens
        +status('Опыт')
        .aside__examp 
          h3.aside__title Инженер по ремонту ноутбуков и телефонов (2016-2021)
          p.aside__text "Узел связи", Санкт-Петербург
          p.aside__info Диагностика и ремонт мобильной техники и ноутбуков. Приемка и выдача, контроль за расходниками, общение с клиентами, продажа запчастей и сопуствующих товаров.
          h3.aside__title  Самостоятельное обучение web-разработке (2021-2022)
          p.aside__text Санкт-Петербург
          p.aside__info Прошел курс для получения базовых знаний в разработке web-сайтов. В настоящее время, активно изучаю библиотеку React.
      +skills
      +hobbi