.aside {
    &__content {
        width: 328px;
        padding: 22px 28px 0 14px;
        background: #FFFFFF;
        border-radius: 5px;
    }

    &__titleone {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: px-to-em(16);
        line-height: 118%;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #DE0F16;
        border-radius: 50px;
        max-width: 150px;
        padding: 8px 25px;
    }

    &__line {
        width: 148px;
        background: #DE0F16;
        height: 2px;
    }

    &__status {
        display: flex;
        align-items: center;
    }

    &__title {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: px-to-em(15);
        line-height: 115%;
        text-transform: capitalize;
        color: #000000;
        padding-top: 10px;
    }

    &__text {
        font-family: 'Roboto';
        font-weight: 600;
        font-size: px-to-em(14);
        line-height: 114%;
        text-transform: capitalize;
        color: #DE0F16;
        padding: 3px 0 4px;
    }

    &__info {
        font-family: 'Roboto';
        font-size: px-to-em(15);
        line-height: 114%;
        text-transform: capitalize;
        color: #847D7D;
        
    }

    &__examp {
        padding-bottom: 20px;
    }
  
}
