mixin aside()
  aside.aside
    .aside__content
      .aside__education
        +status('Образование')
        .aside__examp
          h3.aside__title Юрист (2001-2006) 
          p.aside__text МФЮА 
          p.aside__info Очное обучение по специальности юриспруденция. Специализация: государственно-правовая.
          h3.aside__title Ученик (2021-по настоящее время)
          p.aside__text "Гильдия Фронтов"
          p.aside__info Изучение основ HTML 5, CSS 3, Java Script. Изучение методологии БЭМ, опыт работы с Pixel Perfect, Figma, системой контроля версий Git и использования репозитория на GitHub. Опыт работы с шаблонизатором Pug, препроцессором SCSS под руководством frontend-разработчика, выполнение тренировочного проекта в рамках пройденого материала. 
      .aside__experiens
        +status('Опыт')
        .aside__examp 
          h3.aside__title Индивидуальное предпринимательство / частная практика / фриланс (апрель 2023-по настоящее время)
          p.aside__text Санкт-Петербург, kwork.ru/user/djekuait1998
          p.aside__info HTML-верстальщик. Вёрстка лендингов, исправление чужой верстки, натяжка на cms WordPress.
          h3.aside__title Стажёр HTML-верстальщик (ноябрь 2022-апрель 2023)
          p.aside__text Санкт-Петербург, ИП Рассохин Д.В. 
          p.aside__info Информационные технологии, системная интеграция, интернет - разработка программного обеспечения. Вёрстка лендингов и клиентской части интернет магазинов. Стек техологий:<br>- Git<br>- PugJS<br>- SCSS<br>- WebPack ( готовые сборки )<br>- jQuery<br>- WordPress
          h3.aside__title Фрилансер (август 2022-ноябрь 2022)
          p.aside__text Санкт-Петербург, kwork.ru
          p.aside__info - Вёрстка лендингов;<br>- Добавление контента в готовую верстку;<br>- Исправление и доработки в html-разметке, css;<br>- Посадка верстки на WordPress;
      +skills
      +hobbi