.aside {
    
    &__content {
        max-width: 328px;
        width: 100%;
        margin: 0 auto;
        padding: 22px 28px 20px 14px;
        background: #FFFFFF;
        border-radius: 5px;
    }

    &__title {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: px-to-em(15);
        line-height: 115%;
        text-transform: capitalize;
        color: #000000;
        margin-top: 10px;
    }

    &__text {
        font-family: 'Roboto';
        font-weight: 600;
        font-size: px-to-em(14);
        line-height: 115%;
        text-transform: capitalize;
        color: #DE0F16;
        margin: 5px 0;
    }

    &__info {
        font-family: 'Roboto';
        font-size: px-to-em(15);
        line-height: 114%;
        text-transform: capitalize;
        color: #847D7D;
        
    }

    &__examp {
        margin-bottom: 20px;
    }

    @media screen and (max-width: 605px) {
        display: none;
        &--open {
            display: block;
            position: absolute;
            top: 11%;
            width: 94%;
        }
        
        &__content {
            max-width: 450px;
            padding: 0 0 0 15px;
            position: relative;
        }

        &__examp {
            display: none;
            &--open {
                display: block;
                margin-top: 10px;
            }
        }
    }
}