mixin aside(cl)
  aside(class=`${cl ? cl + '__aside' : ''}`).aside
    .aside__content
      .aside__education
        +status('aside','Education')
        .aside__examp
          h3.aside__title master in user experience design (2012) 
          p.aside__text ABC University
          p.aside__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          h3.aside__title master in Multimedia design (2009)
          p.aside__text XYZ University
          p.aside__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
      .aside__experiens
        +status('aside','Experience')
        .aside__examp 
          h3.aside__title Black hawk studio 
          p.aside__text Senior uX Designer
          p.aside__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          h3.aside__title Graphic Designer 
          p.aside__text UI/UX Designer
          p.aside__info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
      +skills
      +hobbi