mixin skills()
  aside.skills
    .skills__content
      +status('Навыки')
      .skills__skills
        .skills__skill 
          .pie.animate.no-round(style="--p: 80;")
            .skills__image
              include img/html.svg
          p.skills__text HTML 5
        .skills__skill
          .pie.animate.no-round(style="--p: 50;")
            .skills__image
              include img/css.svg
          p.skills__text CSS 3
        .skills__skill 
          .pie.animate.no-round(style="--p: 65;")
            .skills__image
              include img/js.svg
          p.skills__text Java Script
        .skills__skill 
          .pie.animate.no-round(style="--p: 59;")
            .skills__image
              include img/figma.svg
          p.skills__text Figma
        .skills__skill 
          .pie.animate.no-round(style="--p: 35;")
            .skills__image
              include img/react.svg
          p.skills__text React