mixin wrapper(modifier)
  .wrapper&attributes(attributes)
    .wrapper__content 
      main.basic 
        .basic__content
          .basic__info
            h1.basic__name Дедушев Евгений
            .basic__prof Верстальщик
          .basic__about
            img().basic__image
            h2.basic__titleone Обо мне
            p.basic__textone Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          .basic__contacts 
            .basic__contact 
              a(href="tel:+79992386474").basic__cont
                include img/fone.svg       
                p.basic__text +7 999 238 64 74
            .basic__contact 
              a(href="mailto:name@website.com").basic__cont
                include img/email.svg 
                p.basic__text name@website.com
            .basic__contact 
              a(href="http://www.website.com").basic__cont
                include img/website.svg
                p.basic__text www.website.com
            .basic__contact 
              a(href="#!").basic__cont
                include img/home.svg
                p.basic__text street no #0, city
          .basic__lang 
            h2.basic__title Languages
            .basic__items 
              .basic__languages english
              .basic__rating
              .basic__rating
              .basic__rating
              .basic__rating
              .basic__rating
            .basic__items 
              .basic__languages russian
              .basic__rating
              .basic__rating
              .basic__rating
              .basic__rating
              .basic__rating 
            .basic__items 
              .basic__languages french
              .basic__rating
              .basic__rating
              .basic__rating
              .basic__rating
              .basic__rating.basic__rating--clear 
            .basic__items 
              .basic__languages italian
              .basic__rating 
              .basic__rating
              .basic__rating
              .basic__rating.basic__rating--clear 
              .basic__rating.basic__rating--clear
            .basic__items 
              .basic__languages german
              .basic__rating 
              .basic__rating
              .basic__rating.basic__rating--clear
              .basic__rating.basic__rating--clear
              .basic__rating.basic__rating--clear
      aside.aside 
        .aside__content
 

