.wrapper {
    &__content {
        max-width: 595px;
        padding: 10px;
        margin: 0 auto;
        display: flex;
        gap: 5px;
        background: linear-gradient(180deg, #7000FF 0%, #FF0000 100%);
    }
    
}

.basic {
    &__content {
        max-width: 250px;
        padding: 17px 0 25px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
    }


    &__name {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: px-to-em(36);
        line-height: 125%;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
        text-align: center;
    }

    &__prof {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: px-to-em(15);
        line-height: 121%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__about {
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        margin-top: 80px;
        padding: 86px 13px 16px 14px;
        background: rgba(255, 255, 255, 0.2);
        
    }

    &__titleone {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: px-to-em(15);
        line-height: 113%;
        text-align: left;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 7px;
    }

    &__textone {
        font-family: 'Roboto';
        font-size: px-to-em(13);
        line-height: 115%;
        text-transform: capitalize;
        color: #FFFFFF;
    }

    &__contacts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    &__cont {
        display: flex;
        text-decoration: none;
        align-items: center;
        padding: 10px;
        gap: 15px;
        font-family: 'Roboto';
        font-size: px-to-em(13);
        line-height: 114%;
        text-transform: uppercase;
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50px;
    }

    &__cont:hover {
        svg {
            path {
                fill: aqua;
            }
        }
    }

    &__lang {
        padding-left: 15px;
    }

    &__title {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: px-to-em(16);
        line-height: 118%;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 28px 0 15px;
    }

    &__items {
        display: flex;
        align-items: center;
        gap: 8px;
        font-family: 'Roboto';
        font-size: px-to-em(14);
        line-height: 114%;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 10px;
    }

    &__languages {
        max-width: 58px;
        width: 100%;
        margin-right: 7px;
    }

    &__rating {
        width: 20px;
        height: 20px;
        border: 1px solid #FFFFFF;
        background: #FFFFFF;
        border-radius: 50%;
        &--clear {
            background: none;
        }
    }
}

.aside {
    &__content {
        width: 325px;
        padding: 22px 5px 16px;
        background: #FFFFFF;
        border-radius: 5px;
        margin: 0;
    }
}
